<%- include('header') %>

<form method="GET" action="/cotacao">
  <div class="inputs">
  <input name="cotacao" placeholder="Cotação dolar">
  </div>
  <div>
  <input name="quantidade" placeholder="Quantidade dolares">
  </div>
  <button type="Converter">Converter</button>
</form>

<%- include('footer') %>